<html>

<head>
  <link rel="stylesheet" href="/css/style.css" />
  <title>Speech to Text-DVT </title>
</head>

<body>
  <div class="login-page">
    <div class="form">
      <div class="login">
        <div class="header">
          <h3>LOGIN</h3>
          <p>Please enter your credentials to login.</p>
        </div>
      </div>


      <form class="login-form" action="/login" method="POST">
        <input type="email" placeholder="Email" name="email" required="true" />
        <input type="password" placeholder="Password" name="password" required="true" />
        <button type="submit">login</button>
        {{#if error }}
        <p class="message">{{error}}</p>
        {{/if}}

      </form>
    </div>
  </div>


</body>

</html>